<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conundrum</title>

    <!--Libraries-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <!--Libraries-->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

</head>

<body>
    <div class="wrapper">
        <header class="container-fluid">
            
            <a href="/"><img class="maze-icon hidden-xs" src="{{ url_for('static', filename='images/mazeicon.png') }}" alt="maze icon"></a>
            <h1>Conundrum</h1>
            
            <nav>
                <ul>
                    <li><a href="/">Home</a> </li>
                    <li><a href="/conundrum/leaderboard/user4321">LeaderBoard</a></li>
                </ul>
            </nav>

        </header>
        
        <main>
            {% block content %} {% endblock %}
        </main>
        
        <footer class="container-fluid centering">
            
            <div class=" col-xs-12">
                <a href="https://github.com/brettcutt/conundrum" target="_blank"><i id="github-icon" class="fab fa-github"></i></a>
                <br>
                <br>
                <p class="web-developer">©2018 Conundrum | Web development by Brett Cutting</p>
            </div>
            
        </footer>
        
    </div>
</body>

</html>
