{% extends 'base.html' %} {% block content %}


<div class="row">
    <div class="col-sm-offset-3 col-sm-3">
        <div class="question-container">

            <div class="question-head">
                <!--Displays which question number the user is up to-->
                <h4 id="question-number"> {{ question_num }}</h4>
            </div>

            <div class="question-body">
                <!--The question the user will attempt to answer-->
                <p><b>{{ question }}</b> </p>
            </div>

            <div class="answer-bottom">
                <!--The input field for the users answer-->
                <form method="POST">
                    <input type="text" name="answer" id="answer" placeholder="Enter your answer here." /><br>
                    <input type="submit" name="submit" value="Submit" />
                    <input type="submit" name="skip" value="Skip" />
                </form>
                

            </div>

        </div>
    </div>
    <div class="col-sm-3">
        <div class="question-container">
            <div class="question-head">

                <!--Displays which question number the user is up to-->
                <h4> Incorrect guesses</h4>
            </div>
            <div class="question-body centering">
                <table class="guesses-table">
                    {% for answer in incorrect %}
                    {% if loop.index % 2 == 0 %}
                    <tr class="table-row-gray">
                        <td>{{ loop.index }}. </td>
                        <td>{{ answer }}</td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% if loop.index % 2 == 1 %}
                    <tr class="table-row-darkgray">
                        <td>{{ loop.index }}. </td>
                        <td>{{ answer }}</td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
            <!--Incorrect answers -->



        </div>
    </div>
</div>
{% endblock%}
