{% extends 'base.html' %}
{% block content %}


<h2> {{ question_num }}</h2>
<p> {{ question }}</p>
<form method="POST">
    <input type="text" name="answer" id="answer" placeholder="Enter your answer here."/>
    <input type="submit" value="Submit"/>
</form>

{% if page_number < 4 %}
<a href="/conundrum/{{ username }}/{{ skip }}/{{ score }}"><P>SKIP</P></a>
{% endif %}
{% if page_number == 4 %}
<a href="/conundrum/leaderboard/{{ username }}/{{ skip }}/{{ score}}"><P>SKIP</P></a>
{% endif %}



{% endblock%}