{% extends 'base.html' %} {% block content %}

<div class="row centering">
    
    <div class="col-xs-12 centering">
        <h2 class='leaderboard-heading'>LeaderBoard</h2>
    </div>
    
    
    <!--If the username is user4321 than don't display this section else display it. If the user has not completed the game and click to go to the
    leaderboard screen this section will not display showing user scores.-->
    {% if username != "user4321" %}
    
    <!--If the users score makes it under or equal to the 20th line in leaderboard.txt the first if statement we appear
    else the second statment will appear-->
    <div class="user-score-container">
        <div class="users-score centering">
            
            {% if number_in_leaderboard <= 20 %}
            <p class="user-score">Well done {{ user_final_score[-2] }}, you made the Top Ten.
                <br>Your score is: {{ user_final_score[-1] }} out of {{ total_points }}</p>
            {% endif %}
            
            {% if number_in_leaderboard > 20 %}
            
            {% if user_final_score[-1] <= results[10][1] %}
                <p class="user-score"> Sorry {{ user_final_score[-2] }}, you didn't make the leaderboard.
                <br>your score is: {{ user_final_score[-1] }} out of {{ total_points }}</p>
            {% endif %}
            
            {% if user_final_score[-1] > results[10][1] %}
                <p class="user-score">Well done {{ user_final_score[-2] }}, you made the Top Ten.
                <br>Your score is: {{ user_final_score[-1] }} out of {{ total_points }}</p>
            {% endif %}
            
            {% endif %}
            
            <!--If the message_display_number is equal to its corresponding session['message_display_number']
            number from run.py than display this message -->
            
            <div class="display_positive_negative_points leaderboard_message">
                
                {% if message_display_number == 0 %}
                <div class="inner_positive_negative_points">
                    <p class="positive_points"> Skull is correct<br> +{{ display_points }} points.<br>GameOver</p>
                </div>
                {% endif %} 
                
                {% if message_display_number == 1 %}
                <div class="inner_positive_negative_points">
                    <p class="negative_points"> Question Skipped<br>+0 Points<br>GameOver</p>
                </div>
                {% endif %}
                {% if message_display_number == 2 %}
                <div class="inner_positive_negative_points">
                    <p class="negative_points"> {{ last_incorrect_answer }} is incorrect.<br>+0 Points<br>GameOver</p>
                </div>
                {% endif %}
                
            </div>
            
        </div>
    </div>
    {% endif %}
</div>


<div class="row table-row centering">

    <table class="leader-board-table">
        
        <tr class="table-row-gray">
            <td></td>
            <td><p class="top-players">Top Ten</p></td>
            <td></td>
        </tr>

        <tr class="table-row-gray">
            <td><b># Rank</b></td>
            <td><b>Player</b></td>
            <td><b>Score </b></td>
        </tr>
        
        {% for i in results %} 
        {% if loop.index <=10 %}
        
        {% if loop.index % 2==0 %}
        <tr class="table-row-gray">
            <td><b># {{ loop.index }}</b></td>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
        </tr>
        {% endif %} 
        
        {% if loop.index % 2 == 1 %}
        <tr class=".table-row-transparent">
            <td><b># {{ loop.index }}</b></td>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
        </tr>
        {% endif %} 
        
        {% endif %}
        {% endfor %}
    </table>
</div>

{% endblock%}
